.error {
  color: red;
}


.login {
  background-image: url("../../assets/dog-beach.jpeg");
  height: 100%;
  width: 100%;
  padding-bottom: 20em;
  padding-top: 3em;
  background-repeat: no-repeat;
  background-size: 100%;
}
