ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background-image: url('https://t4.ftcdn.net/jpg/05/53/71/23/360_F_553712384_9ZQnDpbLqGwX8Fvv8jxEcHrRqhpVxpUr.jpg');
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 0.25rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
