.welcome-page {
  background-image: url("../../assets/dog-beach.jpeg");
    height: fixed;
    width: 100%;
    /* padding-bottom: 50em; */
    padding-top: 0.5em;
    background-repeat: no-repeat;
    background-size: 100%;
  }
   
.welcome-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  overflow: auto;
  font-family: inherit;
  padding-top: 4rem;
  max-width: 800px;
  gap: 4rem;
  padding-bottom: 30em;
  }

.header {
    text-align: center;
    padding-top: 1rem;
  }

.welcome-section {
  gap: 4px;
  border: solid rgb(63, 139, 190);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  text-align: center;
  }