.calender-header {
    align-items: center;
    max-width: 1200px;
    background: rgb(228, 222, 222);
    border: solid black;
    margin: 1.5rem auto;
    padding: 0.75rem;
  }
  
  .homepage {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    border-top: solid black;
    border-bottom: solid black;
    color: black;
    padding-top: 0.75rem;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
    font-family: inherit;
  }
  
  .footer {
    text-align: center;
  }