@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Dancing Script", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: rgb(217, 218, 213);
  border: 2px solid black;
  color: black;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: left;
  padding-top: 1rem;
  font-family: inherit;
}

.container-header {
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}

.container-home {
  align-items: auto;
  display: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 70%;
  height: 20px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.reg-page{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/306/087/original/young-woman-with-a-dog-standing-next-to-the-shore-of-a-lake-or-the-sea-at-sunset-looking-into-the-distance-dreaming.jpg);
  height: 100%;
  width: 100%;
  color: white;
  padding-bottom: 2em;
  padding-top: 1em;
}

.login {
  background-image: url(https://d.newsweek.com/en/full/1438738/dog-beach.jpg);
  height: 100%;
  width: 100%;
}

.whole-page {
  background-image: url(https://img.freepik.com/free-vector/animal-background-with-cute-pets-illustration_53876-99291.jpg);
  height: auto;
  background-size: 65%;
  background-repeat: repeat;
  color: black;
}

.calendar {
  background-color: white;
  margin-left: 5rem;
  margin-right: 5rem;
  align-items: center;
}

.calender-header {
  align-items: center;
  width: 85%;
  background: rgb(228, 222, 222);
  border: solid black;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}


.homepage {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  border-top: solid black;
  border-bottom: solid black;
}

.petdrugs {
  background-color: rgb(228, 222, 222);
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: row;
  gap: 1.5rem;
  font-size: medium;
  overflow: auto;
}

.petlist {
  background-color: rgb(228, 222, 222);
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: row;
  gap: 0.5rem;
  overflow: auto;
}

.profile-header {
  text-align: center;
}

.present-profile {
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
  background-color: rgb(228, 222, 222);
  padding-left: 0.5rem;
  text-decoration: none;
}

.indiv-profile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
}

.image-form {
  align-items: center;
  padding-top: 1rem;
}

.drug-buttons {
  display: flex;
  gap: 1rem;
}

.box {
  border: solid, black;
}

.list {
  text-decoration: none;
  font-size: medium;
}
