@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Dancing Script", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: left;
  padding-top: 1rem;
  font-family: inherit;
}

.container-header {
  align-items: center;
  text-align: center;
}

.container-home {
  align-items: auto;
  display: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 70%;
  height: 20px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.whole-page {
  background-color: rgb(118, 209, 245);
  background-image: url(https://img.freepik.com/free-vector/animal-background-with-cute-pets-illustration_53876-99291.jpg);
  height: auto;
  background-size: 80%;
  background-repeat: repeat;
  color: black;
}

.calendar {
  background-color: white;
  margin-left: 5rem;
  margin-right: 5rem;
  align-items: fixed;
}

.homepage {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  border-top: solid black;
  border-bottom: solid black;
}

.petdrugs {
  background-color: rgb(228, 222, 222);
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: row;
  gap: 1.5rem;
}

.petlist {
  background-color: rgb(228, 222, 222);
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: row;
  gap: 0.5rem;
}

.profile-header {
  text-align: center;
}

.present-profile {
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
  background-color: rgb(228, 222, 222);
  padding-left: 0.5rem;
  text-decoration: none;
}

.showprofiledrugs {
  font-size: small;
  text-align: left;
  text-decoration: none;
}

.image-form {
  align-items: center;
  padding-top: 1rem;
}

.drug-buttons {
  display: flex;
  gap: 1rem;
}